# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
*/node_modules
/.pnp
.pnp.js
*/.fastapi/
# testing
/coverage

# production
/build
.jupyter/
JupyterBackend/
# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
*help.jsx
npm-debug.log*
yarn-debug.log*
yarn-error.log*
jupyterTest.py

.djenv/
env/
.env/
__pycache__/
pyenv/
.pyenv/

# Build Folder


basic.jsx
test.js