{% extends "base.html" %}
{% load static %}
{% block maincontent %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/analysis.css' %}" />
    <!-- <h4> Data Analysis </h3> -->
    
    
    <div class="DockTools">
        {% include 'dockWindow.html'%}
    </div>

    
        {% comment %}
    <smart-docking-layout class="Dock">

    </smart-docking-layout>
  
    <script>
        window.onload = function () {
            const dock = document.querySelector('smart-docking-layout');
            dock.theme='purple';
            // dock.layout=[
            //     {
            //         type:'LayoutPanel',
            //         label:"LayoutGroup1",
            //         id:'right',
            //         items:[
            //             { label: 'Explorer',content:"<h1>Explorer</h1>",},
            //             { label:"New ", content:"<h1>New</h1>" },
            //             { label: "Mono",  content:"<h1>Mono</h1>"}
            //         ]
            //     }
            // ]

          
            dock.layout = [
                {
                    id: 'item0',
                    label: 'View',
                    items: [{
                        label: 'Team Explorer',
                        selected: true,
                        content: 'This is the first item of the Tabs 0.'
                    },
                    {
                        label: 'Server Explorer',
                        content: '<smart-text-box>Some Text Inside the Text Box</smart-text-box>'
                    }],
                    autoHide: true,
                    autoHidePosition: 'left'
                },
                {
                    type: 'LayoutGroup',
                    items: [
                        {
                            type: 'LayoutPanel',
                            id: 'tabPanel',
                            label: 'Tabs 1',
                            items: [{
                                label: 'helloWorld.js',
                                selected: true,
                                content: 'multiLine'
                            },
                            {
                                label: 'helloWorld.css',
                                content: 'haaa' 
                            },
                            {
                                label: 'helloWorld.html',
                                content: 'kn  kmnckxvb  lsk;j'
                            }],
                            headerPosition: 'none',
                            tabCloseButtons: true,
                            panelContainerSettings: {
                                size: '75%'
                            }
                        },
                        {
                            type: 'LayoutPanel',
                            label: 'Output',
                            items: [
                                {
                                    label: 'Output',
                                    headerPosition: 'none',
                                    content: 'All files are up to date.'
                                }
                            ],
                            headerPosition: 'none'
                        }
                    ],
                    orientation: 'horizontal'
                },
                {
                    id: 'item2',
                    label: 'Solution Explorer',
                    items: [{
                        label: 'Solution Explorer',
                        content: 'tree'
                    }],
                    tabPosition: 'hidden',
                    // tabCloseButtons: true,
                    panelContainerSettings: {
                        size: '75%'
                    }
                },
            ];
        }
    </script>

     <script type="module" src="./Node/node_modules/smart-webcomponents/source/smart.tree.js"></script> 
     <script type="module" src="./Node/node_modules/smart-webcomponents/source/modules/smart.multilinetextbox.js"></script>
     {% endcomment %}



{% endblock %}
