/* // dock-style-place-holder
// when all the panels are floated we need a place holder in the dock box to handle drag over event */
.dark{
  --dock-panel-back:#141420;
  --tab-background:#292539;
  --dock-layout-background:#000;  
  --dock-content:#ffffff;
  --dock-panel-border:#a997be;
  --active-tab-background:rgb(10, 7, 15);
  --active-tab-color:rgb(255, 255, 255);
  --general-tab-background:#1f1235;
  --general-tab-color:rgb(255, 255, 255);
  --tab-border:#2a2a2f;
  --dock-background-border-color:rgb(55, 55, 75);
  --shortcuts-btn-shadow: .12rem .12rem 0.0rem rgba(75, 70, 100, .9);
}
.light{
  --dock-panel-back:#f9f9ff;
  --tab-background:rgb(217, 216, 225);
  --active-tab-background:rgb(16, 160, 255);
  --active-tab-color:rgb(255, 255, 255);
  --general-tab-background:rgb(220, 220, 230);
  --general-tab-color:rgb(0, 0, 0);
  --tab-border:#efefff;
  --dock-layout-background:#fff;
--add-new-tab-btn:rgb(161, 224, 255);
  --dock-content:#000;
  --dock-panel-border:#aaa;
  --dock-background-border-color:rgb(235, 235, 245);
  --shortcuts-btn-shadow: 2px 2px 0rem rgba(112, 129, 200, .48);
}
/* .dock{border-radius: 10px;} */

.dock-top .dock-bar {
  flex: 0 0 auto;
  background:var(--tab-background);
  border-bottom: none;
  height:1.4rem;
  padding-top:0px ;
  padding-left: 8px;
}
.dock-nav-wrap{padding:0px;}
.dock-layout {background-color: var(--color-white);border:solid 5px var(--dock-layout-background) }
.dock-layout h1,h2,h3,h4,h5,h6,div{color:var(--dock-content)}
.dock-hbox{background-color: var(--dock-background-border-color);}
/* .dock-tabpane{background-color: aqua;} */
.dock-panel{background-color:var(--dock-panel-back);/*border-color:var(--dock-panel-border)*/border:none;}
.dock-tab{background-color: var(--general-tab-background);
  color:var(--general-tab-color);border: solid 1px var(--tab-border); 
  border-top-left-radius: 10px;border-top-right-radius: 10px;margin:0 1px;min-width: 150px;padding:0 6px;
}
.dock-tab *{font-size: .94rem;font-family: 'Crete Round', serif;font-weight: 100px;}
.dock-tab-btn{position:relative;font-size: large;}
.dock-tab-btn .drag-initiator{justify-content: space-between;display:flex;gap:10px;}

.dock-tab-active{background-color: var(--active-tab-background);}
.dock-tab-active *{color:var(--active-tab-color);;font-weight: 150px;}
.dock-tab >div {padding:1px 7px; border-radius: 10px;}
.dock-tab-btn{padding:0;}
.dock-bar.drag-initiator{background-color:var(--tab-background) ;border:none;}

.dock-tab-close-btn {position:relative;top:0;padding:0px;}
.dock-style-gyn .dock-tab-active{background-color: rgb(0, 200, 255);color:rgb(255, 255, 255)}

.dock-extra-content .add-new-tab-btn{
  border-radius: 10px;
  margin:4px;
  padding:0px 10px;
  background-color:var(--add-new-tab-btn)
}


