{% extends "base.html" %}
{% load static %}
{% block maincontent %}
    <h1> Main Content Static </h1>
    <div class="insights" style="overflow-y:scroll ">    
        <div class="project_item">
            <div class="title"><h4>Dark Worrier Data</h4></div>
            <div class="progress">      
                <div class="circle"><h6>H</h6></div>
                <div class="number"><h6>42%</h6></div>
            </div>
        </div>        <div class="project_item">
            <div class="title"><h4>Dark Worrier Data</h4></div>
            <div class="progress">      
                <div class="circle"><h6>H</h6></div>
                <div class="number"><h6>42%</h6></div>
            </div>
        </div>        <div class="project_item">
            <div class="title"><h4>Dark Worrier Data</h4></div>
            <div class="progress">      
                <div class="circle"><h6>H</h6></div>
                <div class="number"><h6>42%</h6></div>
            </div>
        </div>        <div class="project_item">
            <div class="title"><h4>Dark Worrier Data</h4></div>
            <div class="progress">      
                <div class="circle"><h6>H</h6></div>
                <div class="number"><h6>42%</h6></div>
            </div>
        </div>        <div class="project_item">
            <div class="title"><h4>Dark Worrier Data</h4></div>
            <div class="progress">      
                <div class="circle"><h6>H</h6></div>
                <div class="number"><h6>42%</h6></div>
            </div>
        </div>        <div class="project_item">
            <div class="title"><h4>Dark Worrier Data</h4></div>
            <div class="progress">      
                <div class="circle"><h6>H</h6></div>
                <div class="number"><h6>42%</h6></div>
            </div>
        </div>        <div class="project_item">
            <div class="title"><h4>Dark Worrier Data</h4></div>
            <div class="progress">      
                <div class="circle"><h6>H</h6></div>
                <div class="number"><h6>42%</h6></div>
            </div>
        </div>        <div class="project_item">
            <div class="title"><h4>Dark Worrier Data</h4></div>
            <div class="progress">      
                <div class="circle"><h6>H</h6></div>
                <div class="number"><h6>42%</h6></div>
            </div>
        </div>        <div class="project_item">
            <div class="title"><h4>Dark Worrier Data</h4></div>
            <div class="progress">      
                <div class="circle"><h6>H</h6></div>
                <div class="number"><h6>42%</h6></div>
            </div>
        </div>
        <div class="project_item">
            <div class="title"><h4>Dark Worrier Data</h4></div>
            <div class="progress">      
                <div class="circle"><h6>H</h6></div>
                <div class="number"><h6>42%</h6></div>
            </div>
        </div>
    </div>
{% endblock %}
