#shortcuts{
    overflow-y: scroll;padding-left: .4rem;padding-right:0.15rem;
}
#shortcuts::-webkit-scrollbar { width: 0px !important }
#shortcuts h6{margin-top:5px}
.shortcuts-ctrl{
    position:relative;display:grid;gap:.4rem;grid-column-gap: .05rem;                              
    grid-template-columns:repeat(auto-fit, minmax(2.5rem, 0fr));
    justify-content: center;}
.directoryTree{
    overflow: scroll;
}
  .shortcuts-ctrl .btn:active{
     top:2px;
     left:2px;
     box-shadow:none;
  }

  .shortcuts-ctrl .btn:after {
    content: "";
    background:var(--color-info-dark);    
    display: block;
    position: absolute;
    padding-top: 5rem;
    padding-left: 5rem;
     margin-left: -2.3rem!important;
     margin-top: 2.3rem!important; 
    opacity:0;
    transition: all 0.3s ease
  }
  
  .shortcuts-ctrl .btn:active:after {
    top:0;
    left:0;
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }


  .dock-layout .shortcuts-ctrl .btn .icon{
    color: var(--color-info-dark);
    font-size: 1.6rem;  position:relative; top:3px;    transition: all 300ms ease ;}
  
    .dock-tab-close-btn{
  
      padding: 0;
    }
    .dock-tab-close-btn::before{content:"X"}