
.contentX{
    display:flex;padding: 20px;
    height:96vh;
}
.ProjectContent{
    flex:.7;
    /* background-color: blueviolet; */
}
input{
    border:none;
    outline: none;
    background: none;
    color:var(--color-dark)
}
.TeamField{background-color: var( --color-primary-variant);max-width: 90%;padding: 4px 20px;
    border-radius: 50px;display: flex;justify-content: space-between;
    min-width: max-content;
}
.projects_items{
    margin-right:1rem ;
    padding: 10px 0;

}
.p_item{padding:0 10px;border-radius: 10px;margin:10px;}
.p_item:hover{background-color: var(--menu-hover-background);}
.searchBar{min-width: 90%; border-radius: 50px;background-color: var(--color-white); padding-top:2px;
    border:solid 1px var(--color-dark-variant);display:flex;justify-content: space-between;padding-left: 20px;
    padding-right:20px;margin-right:20px;gap:5px ;}
.Description{
    flex:1.4    ;
    border-left: solid 2px var(--color-info-light);
    border-right: solid 2px var(--color-info-light);
    /* background-color: blueviolet; */

}
.Notification{
    /* background-color:     blueviolet; */
    flex:1
}