
.contentX{
    display:flex;padding: 20px;
    height:96vh;
}
.ProjectContent{
    flex:.7;
    /* background-color: blueviolet; */
}
input{
    border:none;
    outline: none;
    background: none;
    color:var(--color-dark)
}
.TeamField{background-color: var( --color-primary-variant);max-width: 90%;padding: 4px 20px;
    border-radius: 50px;display: flex;justify-content: space-between;
    min-width: max-content;
}
.projects_items{
    margin-right:1rem ;
    padding: 10px 0;

}
.p_item{padding:0 10px;border-radius: 10px;margin:10px;}
.p_item:hover{background-color: var(--menu-hover-background);}
.searchBar{min-width: 90%; border-radius: 50px;background-color: var(--color-white); padding-top:2px;
    border:solid 1px var(--color-dark-variant);display:flex;justify-content: space-between;padding-left: 20px;
    padding-right:20px;margin-right:20px;gap:5px ;}
.Description{
    flex:1   ;
    border-left: solid 2px var(--color-info-light);
    border-right: solid 2px var(--color-info-light);
    /* background-color: blueviolet; */
    scroll-behavior: smooth; gap:1rem;  padding: 1rem;
    max-height: fit-content;   border-radius: 20px;margin:4px;
}
.Notification{
    /* background-color:     blueviolet; */
    flex:1
}
.progress{flex:1;min-width: max-content;}
.project_card {
    background: var(--color-white);
    max-height: 300px;display:flex;
    padding: 1rem;margin-top: .2rem;
    border-radius: var(--card-border-radius);    
    box-shadow: var(--box-shadow);
    transition: all .3s ease;
    /* max-width: fit-content;      */
  }
  .project_card *{color:var(--color-dark)}
  .project_card .circle{
    height: 7rem;   width: 7rem;    margin:.1rem;
    border-radius:50%;  padding: .5rem .5rem;
    border:solid 1.5rem #7380ec;
    justify-content: space-around;}

 .rectangle{
    min-height: 10px;border-radius: 5px;margin:1rem;
    min-width: 80%;
    background-color: aquamarine;
}
.Notification{
    padding:20px;
}
.notification{
    border-radius: 20px;
    border: solid 1px var(--color-info-light);
    padding:3% 8%;
    margin-top:20px;
}